body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: bisque;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 50vh;
    border-radius: 5px;
    border: 0.5px solid lightskyblue;
}

.username {
    font-weight: bold;
    color: lightblue;
    position: absolute;
    top: 15px;
    right: 20px;
}